<!doctype html>
<html lang="es">
<head>
    <title>RustMX</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/missing.min.css">
    <script src="/assets/htmx.min.js"></script>
    <style>
        #english {
            font-size: 2em ;
            width: fit-content;
            min-width: 10rem;
            padding: 1rem;
            border-radius: 1rem;
            background: cadetblue;
        }
        #spanish {
            font-size: 2em;
            width: fit-content;
            min-width: 10rem;
            padding: 1rem;
            border-radius: 1rem;
            background: lightcoral;
            visibility: hidden;
        }
    </style>
</head>
<body>
    <main>
        <header>
            <h1>Postmodern HTMX+Rust Stack</h1>
        </header>

        {% block content %}{% endblock  %}

    </main>
</body>
</html>